doctype html
html
	head
		title 首页
		meta(charset="UTF-8")
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(rel="stylesheet" type="text/css" href="css/font.css")
		script(type="text/javascript" src="js/jquery.js")
		script(type="text/javascript" src="js/animate.js")
	body
		.Bcontent
			.header
			.content
				.left
					.gongneng
						.gongneng_box.color1
							a.a_box(href="/index")
								.box1
									i.i1
									i.i5.icon-bowen
						.gongneng_box.color2
							.box2
								i.i2
								i.i6.icon-xinqing
						.gongneng_box.color3
							.box3
								i.i3
								i.i5.icon-shangweikaifang
						.gongneng_box.color4
							.box4
								i.i4
								i.i6.icon-shangweikaifang
					.wenzhang
						-for(var a=0;a<DATA.length;a++){
						.wenzhang_box
							.wenzhang_box_in
								.wenzhang_type
									a.a_box(href="#")
								.wenzhang_content
									a.a_box(href="/blog?_id=#{DATA[a]['_id']}")
										.wenzhang_time 
											span #{DATA[a]['time']}
										.wenzhang_title #{DATA[a]['title']}
						-}
				.right
					.content
						.content_top
							h1.p_top #{type}
							-if(cookie){
							a.send.send2(href="/fabiao?m=2") 新增文章
							-}
						.content_bottom
							-for (var i=0;i<data.length;i++){
							.p_title
								a(href="#")
									i.p_type #{data[i]['type']}
								.p_text
									a(href="/blog?_id=#{data[i]['_id']}") #{data[i]['title']}
								i.p_time #{data[i]['time']}
							-}
						.page
							li
								a(href="/type?type=#{type}&page=1") 首页
							-if(page-3>0){
							li
								a(href="/type?type=#{type}&page=#{page-3}") #{page-3}	
							-}
							-if(page-2>0){
							li
								a(href="/type?type=#{type}&page=#{page-2}") #{page-2}	
							-}
							-if(page-1>0){
							li
								a(href="/type?type=#{type}&page=#{page-1}") #{page-1}	
							-}
							li
								a.on #{page}
							-if(page<count){
							li
								a(href="/type?type=#{type}&page=#{parseInt(page)+1}") #{parseInt(page)+1}	
							-}
							-if(page+1<count){
							li
								a(href="/type?type=#{type}&page=#{parseInt(page)+2}") #{parseInt(page)+2}	
							-}
							-if(page+2<count){
							li
								a(href="/type?type=#{type}&page=#{parseInt(page)+3}") #{parseInt(page)+3}	
							-}
							li
								a(href="/type?type=#{type}&page=#{count}") 末页
